<!DOCTYPE html>
<html>
  <head>
    <title> SafeBox App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
   
  </head>

  <body>
  
    <div class="navbar-style ">
     
        <%= link_to 'SafeBox', root_path, class: "navbar-brand" %>
          <div class="d-flex justify-content-end one button_height">
            <% if current_user %>
              <%= link_to('Edit Profile', edit_user_registration_path, class: '') %>
              <%= link_to('Create Event', new_event_path, class: 'btn btn-primary button_height') %>
              <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-danger button_height', title: 'Logout', :method => :delete) %>
        </div>
        <div class=" d-flex justify-content-end">
          <% else %>
           <%= link_to('Case Studies', '#', class: 'btn btn-primary button_height') %>
            <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary button_height') %>
            
          <% end %>
        </div>
    </div>

 
          <%= bootstrap_flash %>
          <%= yield %>
       

      <footer>
        <div class="footer navbar-fixed-bottom text-center">
          <p><b>&copy; SafeBox 2021</b></p>
        </div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>